button {
  &.btn {
    padding-top: 0;

    &:hover {
      transition: 0.5s all;
    }
  }

  &.close {
    opacity: 1;
    padding: 0 1.5rem;
  }
}

.btn,
.button {
  font-size: 1.6rem;
  font-family: "Barlow Bold", sans-serif;
  height: 5.1rem;
  min-width: 17.2rem;
  text-align: center;
  border-radius: 12rem;
  padding-top: 1.1rem;
  text-transform: uppercase;
  border: 0;

  &:hover {
    color: rgba($white, 0.72);
    transition: 0.5s all;
  }

  &:focus {
    outline: none;
  }

  &--primary,
  &.big-btn {
    background: $primary;
    color: $white;
  }

  &--secondary {
    background: $white;
    color: $black;

    &:hover {
      color: rgba($black, 0.72);
    }
  }

  &--coder {
    margin-bottom: 3.5rem;
    display: block;
  }

  &--outline {
    color: $white;
    background: transparent;
    border: 2px solid $white;
  }

  &--auth {
    width: 100%;
    margin: 0;
    border-radius: 50px;
    margin-top: 2.5rem;
  }
}

button#reset-pass-submit {
  width: 100%;
  padding-top: 0;
}

input[type="password"].som-password-input {
  max-width: 100%;
}
