/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.wpcf7 {
  label {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  textarea {
    min-height: 50px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    margin-top: 19px;
    border: 0;
    padding: 8px;

    &:focus {
      outline: none;
      border: 0;
    }
  }

  input[type="submit"] {
    background-color: $primary;
    border-radius: 50px;
    color: $white;
    padding: 8px 5px;
    border: 0;
    transition: all 300ms ease;
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
  }
}

input {
  border-radius: 5px;
  margin-bottom: 19px;
  padding: 5px;
  width: 100%;
  border: 2px solid $white;
  color: rgba($black, 0.72);

  &:focus {
    outline: none;
    border: 2px solid transparent;
  }
}

.authForm {
  &__input {
    margin-bottom: 1.5rem;
    width: 100% !important;

    &--pass {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 1.6rem;
    font-family: "Barlow Bold", sans-serif;
  }

  a {
    font-size: 1.6rem;
    font-family: "Barlow Bold", sans-serif;
  }

  .acceptRegister {
    &__input {
      width: auto;
      display: inline-block;

      &:hover {
        cursor: pointer;
      }
    }

    &__text {
      font-family: "Barlow Light", sans-serif;
      font-size: 1.6rem;
      float: right;
      display: inline-block;
      width: 90%;
      margin-top: 0.5rem;
    }
  }
}

