.modal {
  &Content {
    background: $black;
    color: $white;
    border-radius: 0;
  }

  &-header {
    opacity: 1;
    padding: 0 1.5rem;
  }

  &Header {
    border-bottom: none;
    border-radius: 0;

    &__close {
      color: $white;
      font-size: 5rem;
      font-family: "Barlow ExLight", sans-serif;
      text-shadow: none;
      opacity: 1;
      font-weight: 300;

      &:hover {
        color: rgba($white, 0.72);
      }
    }
  }

  &Body {
    margin-left: 14rem;
    margin-right: 14rem;
    margin-bottom: 9rem;
    padding: 0;

    &__header {
      font-size: 4rem;
      font-family: "Barlow Bold", sans-serif;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 6rem;
    }

    &--voucher {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  &-dialog {
    @media (min-width: 768px) {
      min-width: 610px;
    }
  }

  .loader {
    background: rgba($black, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    padding-top: 20%;
  }

  &ShowVoucher {
    &__description {
      font-family: "Barlow Light", sans-serif;
      font-size: 2rem;
      text-align: center;
      padding: 0 10rem;
      margin-bottom: 2rem;
    }

    &__voucher {
      background: $white;
      color: $black;
      text-align: center;
      font-family: "Barlow Bold", sans-serif;
      font-size: 1.6rem;
      display: block;
      margin: 1rem 10rem;
      border-radius: 5px;
      padding: 1rem;
    }
  }
}
