.footer {
  background: $black;
  padding: 10rem 0;

  &Logo {
    text-align: right;
  }

  &Menu {
    @include media-breakpoint-between(xs, sm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
    }

    &__list {
      display: inline-block;
      margin-right: 8rem;

      @include media-breakpoint-between(xs, sm) {
        margin-right: 0;
      }

      &__item {
        text-transform: uppercase;
        font-family: "Barlow Bold", sans-serif;
      }
    }
  }
}
