.headerNav {
  background: $black;
  padding: 3rem 0;

  @include media-breakpoint-between(xs, sm) {
    padding: 3rem 10px;
  }

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    padding: 0;
  }

  &_logo {
    max-height: 7.5rem;

    @include media-breakpoint-between(xs, sm) {
      width: 62px;
    }
  }

  .navbarMenu {
    > .btn {
      margin-left: 3rem;

      @include media-breakpoint-between(xs, sm) {
        margin-left: 0.5rem;
        font-size: 1.2rem;
        min-width: 10.2rem;
        height: 4rem;
      }
    }
  }
}
