.mainContent {
  padding: 14rem 0;

  &__header {
    text-transform: uppercase;
    font-family: "Barlow Bold", sans-serif;
    font-size: 4rem;
    margin-bottom: 9rem;

    &--profile {
      font-size: 7rem;
    }
  }
}

.maintenance {
  .mainContent {
    .underConstruction {
      text-align: center;
      margin-top: 10%;

      &__header {
        font-size: 6rem;
        font-family: "Barlow Bold", sans-serif;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
      }

      &__text {
        font-size: 3rem;
        font-family: "Barlow Bold", sans-serif;
        margin-bottom: 5rem;
      }

      &__logo {
        max-width: 15rem;
      }
    }
  }
}

.coderApple {
  position: relative;

  &__bg {
    margin-bottom: 9rem;
    width: 100%;
  }

  &__count {
    text-align: center;
    font-size: 3rem;
    font-family: "Barlow Bold", sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
  }
}
