@font-face {
  font-family: "Barlow";
  src: url("../../fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow Bold";
  src: url("../../fonts/Barlow/Barlow-Bold.ttf");
}

@font-face {
  font-family: "Barlow Light";
  src: url("../../fonts/Barlow/Barlow-Light.ttf");
}

@font-face {
  font-family: "Barlow ExLight";
  src: url("../../fonts/Barlow/Barlow-ExtraLight.ttf");
}
