html {
  font-size: 62.5%;
}

body {
  font-size: 2em;
  color: $white;
  background: url("../../images/bg.png");
  font-family: "Barlow", sans-serif;
}

a {
  color: $white;
  transition: 0.5s all;

  &:hover {
    color: rgba($white, 0.72);
    text-decoration: none;
  }
}

strong {
  font-family: "Barlow Bold", sans-serif;
}

.title-section {
  font-size: 4.1rem;
  font-family: $font-bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 640px;

  @include media-breakpoint-between(xs, sm) {
    font-size: 3.1rem;
  }
}

@media (min-width: 1360px) {
  .container {
    max-width: 1340px;
  }
}

@media (min-width: 1680px) {
  .container {
    max-width: 1660px;
  }
}
