/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$primary: #f00;
$white: #fff;
$black: #000;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$font-bold: "Barlow Bold", sans-serif;
$font-light: "Barlow Light", sans-serif;
