.home {
  .mainContent {
    padding: 8rem 0 14rem 0;
  }

  section {
    margin-bottom: 8rem;

    &.wrapper {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hero {
  position: relative;

  &__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 58vh;
  }

  &__content {
    max-width: 520px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
    text-transform: uppercase;
    font-family: $font-bold;
    color: $black;

    @include media-breakpoint-between(xs, sm) {
      width: 100%;
      margin: 0;
    }
  }

  &__title {
    font-size: 12rem;
    margin-bottom: 19px;

    @include media-breakpoint-between(xs, sm) {
      font-size: 5rem;
    }
  }

  &__text {
    font-size: 4rem;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 60px;

    @include media-breakpoint-between(xs, sm) {
      font-size: 2rem;
      margin-bottom: 30px;
    }
  }

  &__btn {
    .btn {
      min-width: 28.2rem;
      border-radius: 12rem;

      @include media-breakpoint-between(xs, sm) {
        min-width: 20.2rem;
      }
    }
  }
}
