.two-box {
  position: relative;

  &__half {
    display: flex;

    @include media-breakpoint-between(xs, lg) {
      flex-wrap: wrap;
    }

    & > div {
      flex: 0 0 50%;
      width: 50%;

      @include media-breakpoint-between(xs, md) {
        flex: 0 0 100%;
        width: 100%;
      }
    }

    &-text {
      font-family: $font-light;
      font-size: 2rem;
      line-height: 1.2;
      margin-bottom: 30px;
      text-align: center;
    }

    &-extratext {
      font-family: $font-light;
      font-size: 1.5rem;
      margin-top: 35px;
      text-align: center;
    }

    &-bg {
      background-size: cover;
      background-position: center;

      @include media-breakpoint-between(xs, md) {
        height: 30vh;
      }
    }
  }

  .info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 2.1rem 0;

    @include media-breakpoint-between(xs, sm) {
      flex-wrap: wrap;
    }

    &__elem {
      width: 247px;
      height: 227px;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 1200px) and (max-width: 1460px) {
        width: 160px;
        height: 160px;
      }

      @include media-breakpoint-between(md, lg) {
        width: 180px;
        height: 180px;
      }
    }

    &__title {
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
      font-family: $font-bold;
      padding-top: 40px;
    }

    .special-item {
      margin: 0 7rem 0 5rem;

      @include media-breakpoint-between(xs, sm) {
        height: 56px;
      }

      &__title {
        font-size: 7rem;
        max-width: 70px;
        padding-bottom: 29px;
        display: block;

        @include media-breakpoint-between(xs, sm) {
          padding-bottom: 1px;
        }
      }
    }
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 4rem;
  background-color: $black;
}

.page-template-template-konkurrence {
  .two-box__half-text {
    max-width: 650px;
  }

  .title-section {
    margin-bottom: 130px;
    max-width: 380px;
  }

  .section-content {
    padding: 7rem 4rem;
  }

  .two-box__half-bg {
    @include media-breakpoint-between(xs, md) {
      height: 70vh;
    }
  }
}
