@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    transition: $property;  
}
.md-modal {
    width: 100%;
    height: auto;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 1.25rem;
    overflow-y: auto;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
    background: rgba(0, 0, 0, 0.55);
}
.md-show {
    visibility: visible;

    &.md-effect-1 .md-content {
        @include transform(scale(1));
        opacity: 1;
    }
}
.md-effect-1{
    .md-content {
        @include transform(scale(0.7));
        opacity: 0;
        @include transition(all 0.3s);
    }
}
.md-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    padding: 0.6rem;
    @include transition(all 0.5s cubic-bezier(0.23, 1, 0.32, 1));
    z-index: 2000;

    svg {
        width: 24px;
        fill: #000;
        pointer-events: none;
        vertical-align: top;
        opacity: 0.5;
    }
    &:hover svg{
        opacity: 1;
    }
}
.md-content {
    color: #000;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
    width: 100%;
    background: white;

    h3 {
        margin: 0;
        font-size: 2em;
        font-weight: 300;
        opacity: 0.8;
        border-radius: 3px 3px 0 0;
    }

    form > div {
        padding: 2.4rem;
        margin: 0;
        font-weight: 300;
        font-size: 1.15em;
    }

    & > div p {
        margin: 0;
        padding: 10px 0;
        font-family: Migrena_Grotesque;
    }

    & > div ul {
        margin: 0;
        padding: 30px 0;
    }

    & > div ul li {
        padding: 5px 0;
    }

    button {
        display: block;
        margin: 0 auto;
        font-size: 0.8em;
    }
}
.md-controls {
    display: flex;
    margin-top: 25px;
}
.md-table-btn {
    float: right;
    margin: 0;
    margin-bottom: 25px;
    background: #4CAF50;
    font-weight: bold;

    i {
        vertical-align: middle;
        font-size: 16px;
        margin-left: auto;
        font-weight: bold;
    }
}
.modal-box {
    margin: 50px 24px;
}
.modal-header {
    margin: 25px 0 35px 0;
}