$ap-color: #fff;
/*@import "modal";*/
.admin-map-panel{
    background: $ap-color;
    width: 95%;
    position: relative;
    padding: 20px;
    margin: 20px 0 0 0;
}
.gmap{
    width: 80%; 
    height: 600px; 
    margin: 50px auto;
}
.btn {
    border: none;
    color: white;
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    top: 2px;
}
.btn-edit-map {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.btn-edit-map:hover {
    background-color: #008CBA;
    color: white;
}
.delete-menu {
    position: absolute;
    background: white;
    padding: 3px;
    color: #666;
    font-weight: bold;
    border: 1px solid #999;
    font-family: sans-serif;
    font-size: 12px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
    margin-top: -10px;
    margin-left: 10px;
    cursor: pointer;
}
.delete-menu:hover {
    background: #eee;
}
.gmap-filtr{
    display: block;
    margin-bottom: 10px;
}